<div class="row">
    <div class="col-sm-3">
        <nav class="nav flex-column">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="{% url 'website_servico' %}">Serviços</a>
            <a class="nav-link" href="{% url 'website_planos'%}">Planos</a>
            <a class="nav-link" href="{% url 'website_sobre'%}">Sobre</a>
            <a class="nav-link" href="{% url 'website_contato' %}">Contato</a>
        </nav>
    </div>
    <div class="col-sm-6" >
        <p class="footer-website">Copyright - Todos os direitos reservados | Desenvolvido por Rafael Gomes</p>
    </div>
    <div class="col-sm-3">

    </div>
</div>