<footer>
    <div class="row">
        <div class="col-12">
            <nav class="nav justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="{% url 'website_servico' %}">Serviços</a>
                <a class="nav-link" href="{% url 'website_planos'%}">Planos</a>
                <a class="nav-link" href="{% url 'website_sobre'%}">Sobre</a>
                <a class="nav-link" href="{% url 'website_contato' %}">Contato</a>
            </nav>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <span>Copyright - Todos os direitos reservados | Desenvolvido por Rafael Gomes</span>
        </div>
    </div>
</footer>