{% extends 'website/base.html' %}
{% load static %}

{%block menu%}
    <div class="row row-space">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link " href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{data}}" href="{% url 'website_servico' %}">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'website_planos'%}">Planos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'website_sobre'%}">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'website_contato' %}">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login Sistema</a>
                </li>
            </ul>
        </div>
    </div>
{%endblock%}

{% block main %}
    <div class="row row-space">
        <div class="col-sm-12">
            Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, 
            arcu quam euismod magna. Mais
            vale um bebadis conhecidiss, que um alcoolatra anonimis. 
            Aenean aliquam molestie leo, vitae iaculis nisl. Viva
            Forevis aptent taciti sociosqu ad litora torquent.
            Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, 
            arcu quam euismod magna. Mais
            vale um bebadis conhecidiss, que um alcoolatra anonimis. 
            Aenean aliquam molestie leo, vitae iaculis nisl. Viva
            Forevis aptent taciti sociosqu ad litora torquent.
        </div>
    </div>

    <div class="row row-space">
        <div class="col-sm-6 col-md-6 col-xl-6">
            <img src="{% static 'img/car2.jpg' %}" width="400" alt=" Serviços">
        </div>
        <div class="col-sm-6 col-md-6 col-xl-6">
            <img src="{% static 'img/car2.jpg' %}" width="400" alt=" Serviços">
        </div>
    </div>


{% endblock %}