{% extends 'website/base.html' %}
{% load static %}

{%block menu%}
    <div class="row row-space">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link " href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'website_servico' %}">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'website_planos'%}">Planos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{data}}" href="{% url 'website_sobre'%}">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'website_contato' %}">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login Sistema</a>
                </li>
            </ul>
        </div>
    </div>
{%endblock%}

{%block main%}
    <div class="row row-space">
        <div class="col-sm-12">
            Mussum Ipsum, cacilds vidis litro abertis. In elementis mé pra quem é amistosis quis leo. 
            Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Praesent vel viverra nisi. 
            Mauris aliquet nunc non turpis scelerisque, eget. Viva Forevis aptent taciti sociosqu ad litora torquent.
            Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Não sou faixa preta cumpadi, sou preto inteiris, inteiris. 
            Paisis, filhis, espiritis santis. Detraxit consequat et quo num tendi nada.
        </div>
    </div>
    <div class="row row-space">
        <div class="col-sm-7">
            Mussum Ipsum, cacilds vidis litro abertis. In elementis mé pra quem é amistosis quis leo. 
            Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Praesent vel viverra nisi. 
            Mauris aliquet nunc non turpis scelerisque, eget. Viva Forevis aptent taciti sociosqu ad litora torquent.
            Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Não sou faixa preta cumpadi, sou preto inteiris, inteiris. 
            Paisis, filhis, espiritis santis. Detraxit consequat et quo num tendi nada.
        </div>
        <div class="col-sm-5">
            <img src="{% static 'img/car2.jpg' %}" class="img-m" alt="Sobre">
        </div>
    </div>
{%endblock%}