{% extends "base.html" %}

{% block main %}

    {% if form.errors %}
        <p>Senha ou Usuario invalidos, Tente novamente.</p>
    {% endif %}

    <div class="row" >
        <div class="col-sm-4"></div>
        <div class="col-sm-4 " style="background-color: #C9D6E2;">
            <center>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>
                        <input type="submit" value="login" class="btn btn-primary">
                        <input type="hidden" name="next" value="{{ next }}" >
                </form>        
            </center>
        </div>
        <div class="col-sm-4"></div>
    </div>

{% endblock %}