{% extends 'base.html' %}
{% load static %}

{% block main %}
<section class="container mt-2">

    {% include 'mov_rotativos/modal_entrada.html' %}
    <div class="row">
        <div class="col-12">
            <div class="row justify-content-between">
                <h3 class="col-auto">Data: {{ hoje|date:'d/m/y' }} </h3>
                <a class="col-auto btn btn-info btn-lg" data-toggle="modal" data-target="#new_entrada">Nova entrada</a>
            </div>
        </div>

        <div class="col-12 mt-1 text-center align-self-center">
            {% if rotativos %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Veículo</th>
                            <th>Entrada</th>
                            <th>Saída</th>
                            <th>Valor pago</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rotativo in rotativos %}
                        <tr>
                            <td>{{ rotativo.placa }}</td>
                            <td>
                                {{ rotativo.checkin |date:'H:i:s' }} 
                            </td>
                            {% if rotativo.pago %}
                                <td>{{ rotativo.checkout|date:'H:i:s' }}</td>
                                <td>{{ rotativo.valor_pago }}</td>
                                <td>
                                    <img src="{% static 'img/icons8-checkmark-16.png' %}">
                                </td>
                                <td></td>
                            {% else %}
                                <td>---</td>
                                <td>---</td>
                                <td>
                                    <img src="{% static 'img/icons8-cancel-16.png' %}">
                                </td>
                                <td>
                                    <a class="btn btn-outline-warning" data-toggle="modal" data-target="#veiculo{{rotativo.pk}}">Saída</a>
                                </td>
                            {% endif %}
                        </tr>
                            {% include 'mov_rotativos/modal_saida.html' %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                    <h4>Não há registros de entradas</h4>
            {% endif %}
        </div>
    </div>
</section>

<script type="text/javascript">

</script>
{% endblock  %}