{% extends 'base.html' %}
{% load bootstrap %}

{% block menu%}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link " href="{% url 'core_home' %}">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Serviços</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
            <a class="dropdown-item" href="{% url 'core_lista_veiculos'%}">Veiculos</a>
            <a class="dropdown-item active" href="{% url 'core_lista_mov_rotativos' %}">Movimentos Rotativos</a>
            <a class="dropdown-item" href="{% url 'core_lista_mov_mensalistas' %}">Movimentos Mensalistas</a>
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
    </li>
    
</ul>
{%endblock%}

{% block main %}
<div class="row">
    <div class="col-12">
        <H1>Lista de Movimentos Rotativos</H1>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <form action="{% url 'core_mov_rotativo_novo'%}" method="POST">
            {% csrf_token %}
            {{ form | bootstrap }}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
    <div class="col-sm-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Checkin</th>
                    <th scope="col">Checkout</th>
                    <th scope="col">Veiculo</th>
                    <th scope="col">Valor da Hora</th>
                    <th scope="col">Pago</th>
                </tr>
            </thead>
            <tbody>
                {% for mov_rotativo in mov_rotativos %}
                <tr>
                    <th scope="row"><a href="{% url 'core_mov_rotativo_update' mov_rotativo.id %}">{{mov_rotativo.id}}</a></th>
                    <td>{{ mov_rotativo.checkin}}</td>
                    <td>{{ mov_rotativo.checkout}}</td>
                    <td>{{ mov_rotativo.veiculo}}</td>
                    <td>{{ mov_rotativo.valor_hora}}</td>
                    <td>{{ mov_rotativo.pago}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>  
    </div>
</div>
{% endblock %}