{% extends 'base.html' %}
{% load bootstrap %}

{% block menu%}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link " href="{% url 'core_home' %}">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Serviços</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
            <a class="dropdown-item active" href="{% url 'core_lista_veiculos'%}">Veiculos</a>
            <a class="dropdown-item" href="{% url 'core_lista_mov_rotativos' %}">Movimentos Rotativos</a>
            <a class="dropdown-item" href="{% url 'core_lista_mov_mensalistas' %}">Movimentos Mensalistas</a>
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
    </li>
    
</ul>
{%endblock%}

{% block main %}
{% include 'veiculos/modal_veiculo_form.html' %}
{% include 'veiculos/modal_marca_form.html' %}

    <div class="row mt-2">
        <div class="col">
            <h2>Área de veículos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_veiculo">
                Novo veículo
            </button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#new_marca">
                Nova marca
            </button>
            <a href="" class="btn btn-secondary btn-main">Relatorio PDF</a>
        </div>
        <div class="col-sm-12 mt-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Propietario</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Placa</th>
                        <th scope="col">Cor</th>
                        <th scope="col">Observacoes</th>
                    </tr>
                </thead>
                <tbody>                
                    {% for veiculo in veiculos %}
                    <tr>
                        <th scope="row"><a href="{% url 'core_veiculo_update' veiculo.id %}">{{veiculo.id}}</a></th>
                        <td>{{veiculo.propietario}}</td>
                        <td>{{veiculo.marca}}</td>
                        <td>{{veiculo.placa}}</td>
                        <td>{{veiculo.cor}}</td>
                        <td>{{veiculo.observacoes}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}