{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block main %}
<div class="container">

    <div class="row pt-4">
        <div class="col-12">
            <h3>Movimentos Rotativos</h3>
        </div>
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Veículo</th>
                        <th scope="col">Checkin</th>
                        <th scope="col">Checkout</th>
                        <th scope="col">Valor da Hora</th>
                        <th scope="col">Pago</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rotativo in mov_rotativos %}
                    <tr>
                        <td>{{ rotativo.placa}}</td>
                        <td>{{ rotativo.checkin |date:'d/m/y H:i:s' }} </td>
                        {% if rotativo.pago %}
                            <td>{{ rotativo.checkout|date:'d/m/y H:i:s' }}</td>
                            <td>{{ rotativo.valor_pago}}</td>
                            <td>
                                <img src="{% static 'img/icons8-checkmark-16.png' %}">
                            </td>
                        {% else %}
                            <td>---</td>
                            <td>---</td>
                            <td>
                                <img src="{% static 'img/icons8-cancel-16.png' %}">
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>  
        </div>
    </div>
</div>
{% endblock %}