{% load bootstrap %}

<div class="modal fade" id="new_marca" tabindex="-1" role="dialog" aria-labelledby="new_marcaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nova marca</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'marca_novo' %}" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form_marca|bootstrap }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>