<div class="modal fade" id="new_entrada" tabindex="-1" role="dialog" aria-labelledby="new_entradaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Entrada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'checkin' %}" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-inline justify-content-center">
                        <label>Placa</label>
                        <input type="text" name="placa" class="form-control mr-2 ml-2" maxlength="8" required id="id_placa">
                        <button type="submit" class="btn btn-success">Registar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>